.weather {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 20px;
}

.weather-thumbnail {
    background-color: #fcfcfc;
    padding: 10px;
    cursor: pointer;
}